#root {
    width: 100vw;
    padding: 1rem;
}

.sub-text {
    color: #a5a5a5;
    font-size: 1.2rem;
    margin: 15px 0;
    text-align: center;
}

.app-link {
    filter: drop-shadow(0 0 2em #a2a2a2aa);
}

@media (min-width: 700px) {
    #root {
        width: 90vw;
        margin: 0 auto;
        padding: 2rem;
    }
}
